body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;

  background-color:beige;
  color: #333;
}

img {
  width: 300px;
  padding: 0;
}

/* HEADER  */
h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: 20px;
}

/* SEARCH BAR  */
.search-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.search-field {
  flex: 1;
  width: 75%;
}

input {
  width: 100%;
  height: 2.5em;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 7px;
  margin-bottom: 10px;
  appearance: none;
  border: none;
  border-radius: 10px;
}

input:focus {
  outline: 3px solid green;
}

.search-button button {
  appearance: none;
  color: #eee;
  font-weight: bold;
  background-color: green;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 50px;
}

/* SECTION  */
section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* INFOS  */
.weather-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.2em;
  margin-left: 20px;
  margin-top: 20px;
}
